
    <%if (elementRow.properties.hrAbove && elementRow.properties.dotted) {%>
        <hr class="dotted">
    <%}else if(elementRow.properties.hrAbove){%>
        <hr>
    <%};%>

    
    <div class="form-row">
        <% elementRow.elements.forEach((element, index)=>{ %>
            <div class="col-sm-<%=element.colSpan %>  offset-sm-<%= element.offsetSpan%> elementColContainer" <%- element.properties.isHidden ?  `style="display: none;"` : '' %>>
                <%if(element.isUserData){%>
                    <% if(user && element.userProp){
                            if(user[element.userProp]){
                                if(element.elementUserProp){
                                    var userPropValue = null;
                                    element.userProp.split('.').forEach(prop=>{
                                        if(userPropValue === null){
                                            if(user[prop]){
                                                userPropValue = user[prop];
                                            }else{
                                                userPropValue = userPropValue[prop];
                                            }
                                        }
                                    });

                                    element.properties[element.elementUserProp] = userPropValue;
                                }
                            }
                        }
                    %>
                <%}%>
                <%if(element.dataIsClonable) { %>
                <div class="cloneContainer" data-clonecount="0" data-elementid="<%= element.id%>" data-elementtype="<%= element.type%>">
                    <%#- include(`../elements/${element.type}`, {element}) %>
                    <%- EJSHelper.include(EJSData.component[element.type], { element, EJSHelper, EJSData}); %>
                    <span hidden class="cloneConfirm">Duplicate?</span>
                    <button class="cloneButton border-0 btn btn-outline-secondary badge badge-pill badge-light" data-action="clone">
                            <i class="cloneIcon fa fa-plus"></i>
                    </button>
                </div>
                <%} else {%>
                    <%#- include(`../elements/${element.type}`, {element}) %>
                    <%- EJSHelper.include(EJSData.component[element.type], { element, EJSHelper, EJSData}); %>
                <%}%>
            </div>
        <%})%>
    </div>
    <%if (elementRow.properties.hrBelow && elementRow.properties.dotted)  {%>
        <hr class="dotted">
    <%}else if(elementRow.properties.hrBelow){%>
        <hr>
    <%};%>
