<%if(pageData) { %>
<%const {sectionTop, sectionBottom} = pageData%>

<%- EJSHelper.include(EJSData.layout.menu); %>

<div id="LoaderContainer"></div>

<script src="/js/bootstrap4-toggle.min.js"></script>
<link href="/css/bootstrap4-toggle.min.css" rel="stylesheet">

<div id="shadow" class="opaqueLayer"></div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-form" role="tabpanel" aria-labelledby="nav-form-tab">
        <!-- <div class="dynamicContainer" style="display: none"> -->
        <div class="dynamicContainer">
            <!-- Not yet needed <%#- include(`./toolbarRenderer`, {toolbar: pageData.toolbar, isMasterAdmin}) %>    -->
            <%- EJSHelper.include(EJSData.renderer.toolbarRenderer, {toolbar: pageData.toolbar, isMasterAdmin, EJSHelper, EJSData}); %>
            
            <form id="elementRendererForm" class="needs-validation mb-7" novalidate method="POST">
                <!-- <input type="hidden" id ="formDataServer" value="<%#=JSON.stringify(formData)%>"/> -->
                <!-- <input type="hidden" id="formId" value="<%#= formId %>"/> -->
                <input type="hidden" id="pageName" name="pageName" value="<%= pageData.pageName %>"/>
                <input type="hidden" id="pageDataType" value="<%= pageData.pageDataType %>"/>
                <input type="hidden" id="pageDataTypeDescription" name="pageDataTypeDescription" value="<%= pageData.pageDataTypeDescription %>"/>
                <input type="hidden" id="groupName" name="groupName" value="<%= pageData.groupName %>"/>
                <input type="hidden" id="modifiedDate"/>
                <input type="hidden" class="validationList" value="<%=JSON.stringify(pageData.validationList)%>"/>
                <input type="hidden" id="currentStage" name="currentStage"/>
                <input type="hidden" id="saveSessionID" name="saveSessionID"/>
            <%if(sectionTop.length > 0) {%>
                <div class="shadow mb-3 p-2 bg-white rounded sectionTop">
                    <%#- include(`./elementSectionRenderer`, {sections: sectionTop, sectionType: "sectionTop"}) %>     
                    <%- EJSHelper.include(EJSData.renderer.elementSectionRenderer, { sections: sectionTop, sectionType: "sectionTop", EJSHelper, EJSData}); %>
                </div>                                   
            <% } %>               
            <div class="shadow p-3b-0 bg-white rounded">
                    <div class="dynamicContainerTitle">
                        <h3>
                            <span class="titleText">
                                <%=pageData.title%> 
                                <%if(pageData.withRevised){%>
                                    <span class="revisedContainer"></span>
                                <%}%>
                            </span>
                            <span class="float-right"><input class="text-center form-control-plaintext h1" readonly id="formStatus" name="status"/></span>
                        </h3> 
                    </div>
                    
                    <!-- <input id="InternalServerError" name="InternalServerError" class="form-control-plaintext float-center" readonly disabled /> -->
                <%var isActiveDone = false, active="", activeIndex = 0 %>
                <%#- include(`./navTabsRenderer`, {pageData, tabType: "top", isActiveDone, active, activeIndex}) %>
                <%- EJSHelper.include(EJSData.renderer.navTabsRenderer, { pageData, tabType: "top", isActiveDone, active, activeIndex, EJSHelper, EJSData}); %>

                    <div class="tab-content">
                        <%pageData.tabs.forEach((tab, index) => {%>
                            <%if(tab.showTab && tab.enableTab) {%>
                                <%var showActive = activeIndex === index ? "show active" : "" %>
                                    <div class="tab-pane fade <%=showActive%>" id="<%= tab.id %>" role="tabpanel" aria-labelledby="<%= tab.id %>-tab">
                                        <%#- include(`./elementSectionRenderer`, {sections: tab.sections, sectionType: "sectionMain"}) %>  
                                        <%- EJSHelper.include(EJSData.renderer.elementSectionRenderer, { sections: tab.sections, sectionType: "sectionMain", EJSHelper, EJSData}); %>

                                    </div>
                            <%}%>
                        <%})%>
                    </div>
                <div class="bottomNavWrapper">
                    <div class="bottomNavContainer collapse show">
                        <%#- include(`./navTabsRenderer`, {pageData, tabType: "bottom", isActiveDone, active, activeIndex}) %>
                        <%- EJSHelper.include(EJSData.renderer.navTabsRenderer, { pageData, tabType: "bottom", isActiveDone, active, activeIndex, EJSHelper, EJSData}); %>

                </div>
                </div>
            </div>
            <%if(sectionBottom.length > 0) {%>
                <div class="shadow mt-3 p-2 bg-white rounded">
                    <%#- include(`./elementSectionRenderer`, {sections: sectionBottom, sectionType: "sectionBottom"}) %>    
                    <%- EJSHelper.include(EJSData.renderer.elementSectionRenderer, { sections: sectionBottom, sectionType: "sectionBottom", EJSHelper, EJSData}); %>

                </div>   
            <% } %>
            </form>
        </div>
        <div class="dynamicContainerDeleted" style="display: none">
            <div class="card">
                <div class="card-body">
                  <h3>This form has been deleted.</h3>
                  <hr/>
                  <div class="form-inline">
                    <div class="form-group">
                        <label for="deletedBy"><b>Deleted by: </b></label>
                        <input class="form-control-plaintext h1" readonly id="deletedBy" name="deletedBy"/>
                    </div>
                    <div class="form-group">
                        <label for="deletedDate"><b>Deleted on: </b></label>
                        <input class="form-control-plaintext h1" readonly id="deletedDate" name="deletedDate"/>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-auditlog" role="tabpanel" aria-labelledby="nav-auditlog-tab">
        <!-- Not yet needed <%#- include(`./auditRenderer`, {workflowAuditTrailData}) %>   -->
    </div>
    <%#if(isMasterAdmin){%>
    <div class="tab-pane fade" id="nav-to-iras-final" role="tabpanel" aria-labelledby="nav-to-iras-final-tab">
        <!-- Not yet needed <%#- include(`./toIRASFinalFilesRenderer`) %>   -->
        <%#- EJSHelper.include(renderer.toIRASFinalFilesRenderer); %>

    </div>
    <div class="tab-pane fade" id="nav-from-iras-final" role="tabpanel" aria-labelledby="nav-from-iras-final-tab">
        <!--  Not yet needed  <%#- include(`./fromIRASFinalFilesRenderer`) %>   -->
        <%#- EJSHelper.include(renderer.fromIRASFinalFilesRenderer); %>

    </div>
    <%#}%>
    
    <button id="backToTop" class="btn btn-secondary" style="display: none;"> Back to top</button>
</div>
<% } %>