<div class="dynamicSectionRow <%=sectionType%> row">
    <%sections.forEach((section, index)=>{%>
        <div class="dynamicSections <%=section.isCollapsed ? "" : "show" %> <%=sectionType%> col-sm-<%= section.colSpan%> offset-sm-<%= section.offsetSpan%>" 
            <%- section.isHidden ? 'style="display: none"' : ""%>>
            <% if(section.isSection) {%>
                <% var collapseHeaderProperty = `data-toggle=collapse data-target=#${section.id} aria-expanded=${section.isCollapsed} aria-controls=${section.id}`%>
                <% var collapseBodyProperty = section.isCollapsable ? "collapse" : "" %>
                
                <% collapseHeaderProperty = section.isCollapsable ? collapseHeaderProperty : "" %> 
                    <div class="card">
                        <div class="card-header" <%=section.isCollapsed ? "collapsed" : "" %> <%=collapseHeaderProperty%>>
                            <%if (section.titleHtml) { %>
                                <%- section.titleHtml %>
                            <%}else{%>
                                <b><%= section.title %></b>
                            <%}%>
                        </div>
                        <div class="<%=section.isCollapsed ? "" : "show" %> <%= collapseBodyProperty %>" id="<%= section.id %>">
                            <div class="card-body">
            <%}%>
                            <% groupsList = (section.groups) ? section.groups : []  %>
                            <% groupsList = groupsList.sort((a, b) => (a.order > b.order) ? 1 : -1); %>
                            <div class="row">
                            <% groupsList.forEach((_group,index) => { %>
                                <div class="form-group col-sm-<%=_group.colSpan%> offset-sm-<%=_group.offsetSpan%>">
                                    <% _group.elementRows.forEach((elementRow, index)=>{ %>
                                        <%#- include(`./elementRowRenderer`, {elementRow, index}) %>     
                                        <%- EJSHelper.include(EJSData.renderer.elementRowRenderer, { elementRow, index, EJSHelper, EJSData}); %>

                                    <% }) %>
                                </div>
                            <% }) %>
                            </div>
            <% if(section.isSection) {%>
                            </div>
                        </div>
                    </div>
            <%}%>
        </div>
    <%})%>
</div> 