
<%
var FROM_IRAS_TableProp = {
            url:  "/api/fileupload/filelist/FROM_IRAS?formId=#formId",
            pageDataType: [],
            data: null,
            columns: [
                {id: `filename`, title: "Filename" }, 
                {id: `contentLength`, title: "Size" }, 
                {id: `createdOn`, title: "Created On" }, 
                {id: "filename", title: "", 
                    columnDefs:{
                        icon: "fas fa-download", api: "/api/fileupload/download/blob/FROM_IRAS/#filename/#contentLength?formId=#formId", method: "GET"
                    }
                },
            ],
            order: [0, 'asc'],
            timeSinceIndexes: [2],
            contentLengthIndexes: [1],
            customDom: "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" +
                    "<'row'<'col-sm-12 col-md-12'l>>",
            buttons: ['colvis']
        };
%>

<div class="divDataTable" 
    data-type="fileDataTable" 
    id="div_FROM_IRAS" 
    data-table-prop="<%= JSON.stringify(FROM_IRAS_TableProp) %>">
        <table id="FROM_IRAS" class="table table-bordered" style="width:100%" >
        </table>
</div>

