<% if(pageData) {%>
<ul class="nav nav-tabs <%= tabType ? `nav-tabs-${tabType}` : "" %>" role="tablist">
    <%pageData.tabs.forEach((tab, index) => {%>
        <%if(tab.showTab && tab.tabDisplay) {%>
            <%var active = tab.enableTab && !isActiveDone ? "active" : "" %>
            <%
                if(!isActiveDone){
                    if(tab.enableTab){
                        isActiveDone = true;
                        active = "active";
                        activeIndex = index;
                    }
                }
            %>
            <li class="nav-item">
                <a style='background: <%= tab.backgroundColor ? tab.backgroundColor : "transparent" %>' class="nav-link nav-link-dttl-form <%=active%> <%=tab.enableTab ? "" : "disabled"%> <%= tab.id %>-tab <%= tab.class ? tab.class : "" %>" 
                    <%#- include('../elements/commonProperties/dataReference', {element: tab})%>
                    <%- EJSHelper.include(EJSData.prop.dataReferenceProp, {element: tab}); %>
                    id="<%= tab.id %>-tab" 
                    data-toggle="tab" 
                    href="#<%= tab.id %>" 
                    role="tab" 
                    aria-controls="<%= tab.id %>"
                    >
                    <%= tab.tabDisplay %>
                </a>
            </li>
            <%
                active = isActiveDone ? "" : active;
            %>
        <%}%>
    <%})%>
</ul>
<%}%>