
<%
var TO_IRAS_FINAL_TableProp = {
            url:  "/api/fileupload/filelist/TO_IRAS_FINAL?formId=#formId",
            pageDataType: [],
            data: null,
            columns: [
                {id: `filename`, title: "Filename" }, 
                {id: `contentLength`, title: "Size" }, 
                {id: `createdOn`, title: "Created On" }, 
                {id: "filename", title: "", 
                    columnDefs:{
                        icon: "fas fa-download", api: "/api/fileupload/download/blob/TO_IRAS_FINAL/#filename/#contentLength?formId=#formId", method: "GET"
                    }
                },
            ],
            order: [0, 'asc'],
            timeSinceIndexes: [2],
            contentLengthIndexes: [1],
            customDom: "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" +
                    "<'row'<'col-sm-12 col-md-12'l>>",
            buttons: ['colvis']
        };
%>

<div class="divDataTable" 
    data-type="fileDataTable" 
    id="div_TO_IRAS_FINAL" 
    data-table-prop="<%= JSON.stringify(TO_IRAS_FINAL_TableProp) %>">
        <table id="TO_IRAS_FINAL" class="table table-bordered" style="width:100%" >
        </table>
</div>

