<% if(toolbar){%>
    <div class="dynamicToolbarSwitch float-right">
        <input data-style="dforms" type="checkbox" data-toggle="toggle" data-size="sm" data-on="Show Toolbar" data-off="Hide Toolbar" data-onstyle="dark"/>
    </div>
    <div class="dynamicToolbar border-top border-bottom collapse show shadow bg-white rounded">
        <% for(var toolbarButtonGroup of toolbar.toolbarButtonGroups){ %>
            <% var show = toolbarButtonGroup.isAdmin ? (isMasterAdmin ? true : false) : true %>
            <%if(show){%>
                <div class="dynamicToolbarButtonGroup border-right">
                    <% for(var toolbarButton of toolbarButtonGroup.toolbarButtons) { %>
                    <div class="dynamicToolbarButton">
                        <!-- <%#- include(`../elements/toolbar/${toolbarButton.type}`, {toolbarButton}) %> -->
                        <%- EJSHelper.include(EJSData.toolbar[toolbarButton.type], {toolbarButton, EJSHelper, EJSData}); %>
                        <div class="dynamicToolbarLabel"> <%= toolbarButton.label %></div>
                    </div>
                    <% } %>
                    <div class="dynamicGroupLabel"> <%= toolbarButtonGroup.groupName %></div>
                </div>
            <% } %>
        <% } %>
    </div>
<%}%>