<%- EJSHelper.include(EJSData.prop.elementProp, { element, EJSHelper, EJSData}); %>
<%- element.properties.typeProp ? `type='${element.properties.typeProp}'`: type = "button"%>
<%- element.properties.submissionLink ? `formaction='${element.properties.submissionLink}'`: "" %>   
<%- element.properties.method ? `method="${element.properties.method}"`: "" %>   
<%- element.properties.dfRoute ? `df-route="${element.properties.dfRoute}"`: "" %>   
<%- element.properties.waitOrchestrator ? "df-waitOrchestrator" : "" %>   
<%= element.properties.disabled ? "disabled" : ""%>
<%= element.properties.reLoadPage ? "re-load-page" : "" %>
<%- element.properties.target ? `target="${element.properties.target}"`: "" %>
<%if(element.properties.tooltipMessage){%>
    <%- `data-toggle=tooltip` %>
    <%- `data-placement=${element.properties.tooltipPlacement}` %>
    <%- `title="${element.properties.tooltipMessage}"` %>
<%}%>
<%- element.confirmationMessage ? `confirmation-message="${element.confirmationMessage}"`: "" %>
<%- element.confirmationMessageReference ? `confirmation-message-reference="${element.confirmationMessageReference}"`: "" %>

<%- element.onLoadMessage ? `onload-message="${element.onLoadMessage}"` : "" %>
<%- element.onSuccessfulMessage ? `onsuccess-message="${element.onSuccessfulMessage}"` : "" %>
<%- element.onFailedMessage ? `onfail-message="${element.onFailedMessage}"` : "" %>