<%- element.dataReference ? `data-reference='${element.dataReference}'` : '' %>
<%- element.dataRefSelect ? `data-refselect='${element.dataRefSelect}'` : '' %>
<%- element.dataRefIsFormula ? "data-refisformula" : '' %>
<%- element.dataRefIsEval? "data-refiseval" : '' %>
<%- element.dataRefIsVisibility? "data-refisvisibility" : '' %>
<%- element.dataRefIsRowVisibility? "data-refrowisvisibility" : '' %>
<%- element.dataRefAttribute ? `data-ref-attribute='${element.dataRefAttribute}'` : '' %>
<%- element.dataRefAttributeReference ? `data-ref-attribute-reference="${element.dataRefAttributeReference}"` : '' %>
<%- element.dataRefRefreshOnPopulate? "data-ref-refresh-on-populate" : '' %>
<%if(element.dataRefDisabledReference){%>
    <%- `data-ref-disabled-list=${JSON.stringify(element.dataRefDisabledList)}`%>
    <%- `data-ref-reverse-disabled-list=${JSON.stringify(element.dataRefReverseDisabledList)}`%>
    <%- `data-ref-disabled-reference="${element.dataRefDisabledReference}"` %>
<%}%>
