<%- EJSHelper.include(EJSData.prop.textboxProp, {element,EJSHelper,EJSData}) %>
<%= `data-default-on-hidden=${element.properties.defultOnHidden}`%>
<%- element.properties.dataLiveSearch ? `data-live-search="${element.properties.dataLiveSearch}"` : "" %>
<%- element.properties.dataMaxOptions ? `data-max-options"${element.properties.dataMaxOptions}"` : "" %>
<%- element.properties.dataSelectedTextFormat ? `data-selected-text-format="${element.properties.dataSelectedTextFormat}"` : "" %>
<%- element.properties.multiple ? "multiple" : "" %>
<%- element.readonly ? "disabled" : ""%>
<%- element.convertToNonEditableReference ? `convert-to-non-editable-reference="${element.convertToNonEditableReference}"` : "" %>
<%- element.properties.defaultValue ? `defaultValue = "${element.properties.defaultValue}"` : "" %> 