<%# element.id ? `id='${element.id}'` : `${_GUID.New() || ""}` %>
<%- element.id ? `id='${element.id}'` : "" %>
<%- element.name ? `name='${element.name}'` : '' %>
<%#- include('./dataReference')%>
<%- EJSHelper.include(EJSData.prop.dataReferenceProp, { element }); %>
<%- element.referedClassElements ? `data-referedClassElements="${element.referedClassElements}"` : '' %>
<%- element.referedClassSum ? `data-referedClassSum="${element.referedClassSum}"` : '' %>