<%- EJSHelper.include(EJSData.prop.elementProp, {element,EJSHelper,EJSData})%>
<%- element.properties.value ? `value='${element.properties.value}'` : '' %>
<%- element.properties.placeholder ? `placeholder='${element.properties.placeholder}'` : '' %>
<%- element.properties.required ? "required" : ""%>
<%- element.readonly ? "readonly" : ""%>