﻿@{
	ViewBag.Title = "Admin";
}
<style>
</style>
<div id="content" name="content">
</div>
<script src="~/js/Views/General/SideBar.js?version=1"></script>
<script src="~/js/Views/General/DataTableService.js?version=1"></script>
<script src="~/js/Views/Home/HomeLanding.js?version=1"></script>
<script src="~/js/Views/General/dropzone.js"></script>
<link href="~/css/dropzone.css" />
@* <script src="~/js/highchart.min.js"></script> *@


@section Scripts {
	<script>
        let EventID_Detail;
        let _AssetsCore;
        const _indexCache = new _cache([]);
        const _version = '@DateTime.Now.Ticks';
	</script>
	<script>
		$.when(
			_indexCache.GetServerObject('loader', URLPath + '/js/Components/General/Loader.html')
		);
		//Add Your JS Code Here
		_message.Build("Welcome to the Deloitte Asp.Net Core Template", _message.Types.info, _message.Durations.blast);
		const _homeLanding = new HomeLanding('#content', null, 'Admin Template', 'Provide the admin with more functionality here', true);
		const _ajaxService = new AJAXService(URLPath + '/api/Component/SideBar?role=admin', 'GET', null, true);
		$(document).ready(function () {
			$.when(
				_indexCache.GetServerObject('sidebaritem', URLPath + '/js/Components/General/sidebaritem.html'),
				_ajaxService.promise
			).done(function (a1, d1) {
				const _sidebar = new Sidebar('#Links', d1[0].data, _indexCache);

			});
		});

	</script>


}

