﻿@using Microsoft.Identity.Web
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - NTC</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="~/js/Views/General/data-feathers.min.js"></script>
	<script type="text/javascript" src="~/js/myoutputfilename.min.js?version=1"></script>
	<script type="text/javascript" src="~/js/moment.min.js?version=1"></script>
	<link rel="stylesheet" href="~/css/myoutputfilename.min.css?version=1" />

	@*Load AJAX Serivce ahead of common.js*@
	<script src ="~/js/Models.min.js?version=1">
		</script>
		<script src ="~/js/Views/General/cachePromiseService.js?version=1">
			</script>
			<script src ="~/js/dynamicRenderer.js?version=1">
				</script>
				<script src="~/js/datepicker.min.js"></script>
				<script src="~/js/bootstrap-select.min.js"></script>
				<script src="~/js/ejs.min.js"></script>
				<script src="~/js/EJSHelper.js"></script>

				<script src="~/js/site.js?version=1"></script>
				<script src="~/js/Views/General/AJAXService.js?version=1"></script>
				<script src="~/js/Views/General/Common.js?version=1"></script>
				<script src="~/js/Views/General/Components.js?version=1"></script>
				<script src="~/js/Views/General/Messages.js?version=1"></script>
				<script src="~/js/datatables.min.js?version=1"></script>
				@* <script src="~/js/highchart.min.js?version=1"></script> *@
				<link rel="stylesheet" href="~/css/datepicker.min.css" />
				<link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
				<script src="~/js/Views/General/Cache.js?version=1"></script>
				<link rel="stylesheet" href="~/css/site.css?version=1" />
				<link rel="stylesheet" href="~/css/Common.css?version=1" />
				<link rel="stylesheet" href="~/css/BackgroundComplex.css?version=1" />
				<link rel="stylesheet" href="~/css/datatables.min.css?version=1" />
				<link rel="stylesheet" href="~/css/highchart.min.css?version=1" />
				<link rel="stylesheet" href="~/css/Switch/component-custom-switch.min.css">
				<link href="~/css/font-awesome.min.css" rel="stylesheet" />
				<script>
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf("MSIE ");

					if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
					{

						window.location = window.location.origin + "/Home/NoInternetExplorer";
					}
				</script>
</head>


<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark2">

			<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
				<img src="~/Images/DTTLGreenDot.png" max-width="250" height="30" alt="">
			</a>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					@if (User.Identity.IsAuthenticated)
					{
						<li class="navbar-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
						if (User.HasClaim("role", "admin") || User.HasClaim("role", "super admin"))
						{
							<li class="navbar-item"><a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a></li>
						}
					}
				</ul>
				@if (User.Identity.IsAuthenticated)
				{
					<ul class="nav navbar-nav navbar-right">
						<li class="navbar-item mr-3"><a asp-controller="Home" asp-action="Profile" class="navbar-text">Hello @User.GetDisplayName()!</a></li>
						@*<li class="navbar-text"><a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a></li*@>
					</ul>
				}
				else
				{
					<ul class="nav navbar-nav navbar-right">
						<li class="navbar-text"><a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a></li>
					</ul>
				}
			</div>


		</nav>
	</header>
	<div id="MainBody" name="MainBody" class="container body-content">
		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar animated fadeInLeft">
					<div class="sidebar-sticky">
						<ul id="Links" class="nav flex-column"></ul>
					</div>
				</nav>
				<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-1">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	@RenderSection("scripts", required: false)
	<script>
		$(document).ready(function () {
			feather.replace();
		});

	</script>
</body>

</html>
