﻿@model FrontEndCore.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<script>
    $('body').css('background-image', 'url()');
</script>