
<%#const {isObjectEmpty} = functions;%>
<%var size = ''; 
if(element.properties.size === 'small')
{size= 'btn-sm';}
else if (element.properties.size === 'block')
{size= 'btn-lg btn-block';}
else if (element.properties.size === 'large')
{size = 'btn-lg';}
%>
    <div class="input-group mb-3">
        <input type="hidden" class="validationList" value="<%=JSON.stringify(element.validationList)%>"/>
        <%#- include('./layout/elementPrependLayout') -%>
        <button
        <%#- include('./commonProperties/button', {element}) -%>
        <%- EJSHelper.include(EJSData.prop.buttonProp, {element, EJSHelper, EJSData}); %>
        class = "btn btn-<%=element.properties.primaryOrSecondary%>  <%=size%>"
        onclick= "window.location = '<%=element.properties.href%>'"
        >
    <%=element.properties.label%> 
    </button>
        <%#- include('./layout/elementAppendLayout') -%>
    </div>