<%- EJSHelper.include(EJSData.layout.elementLabelLayout, {element}) %>
    <div class="input-group mb-3">
        <%- EJSHelper.include(EJSData.layout.elementPrependLayout, {element}) %>
            <input type="text" class="form-control" <%- EJSHelper.include(EJSData.prop.textboxProp, {element,EJSHelper,EJSData}) %>
            data-dateProp = "<%= JSON.stringify(element.properties.dateProp) %>"
            data-toggle="datepicker" 
            data-dateFormat="<%= element.properties.format %>"/>
        <%- EJSHelper.include(EJSData.layout.elementAppendCloseLayout, {element}) %>
        <%- EJSHelper.include(EJSData.layout.elementInvalidFeedbackLayout, {element}) %>
    </div>
<%- EJSHelper.include(EJSData.layout.elementSubLabelLayout, {element}) %>

