<%- EJSHelper.include(EJSData.layout.elementLabelLayout, {element}) %>
    <%if(element.properties.isDataSourceAPI || element.properties.isDataSourceJavascript) {%>
    <div class="selectLoader form-control text-muted bg-light" style="display: none;">
        Loading...
        <div class="spinner-border spinner-border-sm float-right" role="status" style="margin-top: 3px; color: inherit">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="selectLoader-error form-control text-muted bg-light align-middle" style="display: none;"><span class="selectLoader-error-Messsage">Loading of options failed.</span><div class="float-right" style="color: red">
            <i class="fa fa-exclamation-circle"></i>
        </div>
    </div>
    <%} %>
    <div class="input-group mb-3">
        <% var currentDataSourceCode = element.properties.dataSourceCode && element.properties.dataSourceCode.data && element.properties.dataSourceCode.data.length > 0 ? element.properties.dataSourceCode.data : (element.properties.dataSourceCode ? element.properties.dataSourceCode : null) %>
        <% var isDataSourceCode = currentDataSourceCode ? true : false; %>
        
        <%- EJSHelper.include(EJSData.layout.elementPrependLayout, {element}) %>

            <select <%- element.properties.isDataSourceAPI || element.properties.isDataSourceJavascript ?  `style="display: none;"` : '' %>
            class="<%=element.type%> form-control" 
            <% var dataSourceType = null;
                if(element.properties.isDataSourceAPI){
                    dataSourceType = 'api'
                }else if(element.properties.isDataSourceJavascript ){
                    dataSourceType = 'js'
                }
            %>
            <%- element.properties.dataDataValue.length > 0 ? `data-data-value='${JSON.stringify(element.properties.dataDataValue)}'` : ''%>
            <%- element.properties.isDataSourceAPI || element.properties.isDataSourceJavascript ? `data-source-type='${dataSourceType}'` : ""%>
            <%- element.properties.isDataSourceAPI || element.properties.isDataSourceJavascript ? `data-source='${element.properties.dataSource}'` : ""%>
            <%- element.properties.isDataSourceAPI || element.properties.isDataSourceJavascript ? `data-source-data-key='${element.properties.dataKey}'` : ""%>
            <%- element.properties.isDataSourceAPI || element.properties.isDataSourceJavascript ? `data-source-data-value='${element.properties.dataValue}'` : ""%>
            <%- (element.properties.isDataSourceAPI  || element.properties.isDataSourceJavascript) && element.properties.placeholder ? `data-placeholder='${element.properties.placeholder}'` : ""%>
            <%- isDataSourceCode ? `title='${element.properties.placeholder}'` : "" %>

            <%- EJSHelper.include(EJSData.prop.dropdownProp, {element,EJSHelper,EJSData}) %>>
            <% if (EJSData.dataSource || (element.properties.dataSourceCode && element.properties.dataSourceCode.data.length > 0)) { %>
                    <% if(!(element.properties.isDataSourceAPI || element.properties.isDataSourceJavascript)) {%>
                        <% var optionSource = currentDataSourceCode && currentDataSourceCode.length ? currentDataSourceCode : EJSData.dataSource[element.properties.dataSource]; %>
                        <% if(optionSource && Array.isArray(optionSource)) {%>
                            <option hidden disabled selected value="-default-"><%=element.properties.placeholder%></option>
                            <% optionSource.forEach((source,index) => { %>
                                <%
                                    var dataValue = '';
                                    element.properties.dataDataValue.forEach((_dataValue)=>{
                                        dataValue = dataValue + `data-${_dataValue.key}="${source[_dataValue.value]}" `;
                                    }); 
                                %>
                                <option value="<%=source[element.properties.dataKey]%>" <%-dataValue.trim() ? dataValue : ''%> <%= element.properties.defaultValue.toString().trim() === source[element.properties.dataKey].toString().trim()  ? "selected" : ""%>>
                                    <%=source[element.properties.dataValue] ? source[element.properties.dataValue].trim() : source[element.properties.dataValue]%>
                                </option>
                            <%})%>
                        <%}%> 
                    <%}%>
                <%}%>
            </select>
            <% console.log(element.properties.isClearable) %>
            <%if (element.properties.isClearable) {%>
                <%- EJSHelper.include(EJSData.layout.elementAppendCloseLayout, {element}) %>
            <%} 
            else {%> 
                <%- EJSHelper.include(EJSData.layout.elementAppendLayout, {element}) %>
            <%}%>

            <%- EJSHelper.include(EJSData.layout.elementInvalidFeedbackLayout, {element}) %>
    </div>
<%- EJSHelper.include(EJSData.layout.elementSubLabelLayout, {element}) %>
