
<%#
    To be able to use this element;

    var htmlElement = new html("htmlID", 4, "htmlName");
    htmlElement.properties.code = "<h1>Hello, this is an html.</h1>";
%>

<%- element.properties.code %>