<%if(element.properties.value) { %>
    <label <%- EJSHelper.include(EJSData.prop.elementProp, {element,EJSHelper,EJSData}) -%> <%- element.properties.isBold ? `style="font-weight: bold"` : ""%>>
        <%=element.properties.value%>
    </label>
<%} else if(element.properties.labelHtml) { %>
    <label <%-EJSHelper.include(EJSData.prop.elementProp, {element,EJSHelper,EJSData})%> >
    <%- element.properties.labelHtml %>
    </label>
<%}%>
<%- EJSHelper.include(EJSData.layout.elementSubLabelLayout, {element,EJSHelper,EJSData}) -%>
