<%
let specialInput =
element.properties.isHidden? "hidden":
element.properties.isEmail? "email":
element.properties.isHidden? "password":
"text";
%>

<%- element.properties.isHidden ? "": EJSHelper.include(EJSData.layout.elementLabelLayout, {element}) %>

<%if(element.properties.isDataSourceAPI) {%>

    <div class="selectLoader form-control text-muted bg-light" style="display: none;">
        Loading...
        <div class="spinner-border spinner-border-sm float-right" role="status" style="margin-top: 3px; color: inherit">
            <span class="sr-only"></span>
        </div>
    </div>    
    <div class="selectLoader-error form-control text-muted bg-light align-middle" style="display: none;">
        Loading of options failed.
        <div class="float-right" style="color: red">
            <i class="fa fa-exclamation-circle"></i>
        </div>
    </div>    

<%}%>

<div class="input-group mb-3">
    
    <%- element.properties.isHidden ? "": EJSHelper.include(EJSData.layout.elementPrependLayout, {element}) %>
    
    <input 

        type="<%=specialInput%>" 
        class="<%- element.plaintext ? "form-control-plaintext" : "form-control" %> <%=element.class%>"

        <% var dataSourceType = null;
        if(element.properties.isDataSourceAPI){
            dataSourceType = 'api'
        }%> 

        <%- element.properties.wordCount ?`wordCount`: "" %>
        <%- element.properties.minLength ?`minlength = '${element.properties.minLength}'`: "" %>
        <%- element.properties.maxLength ?`maxlength = '${element.properties.maxLength}'`: "" %>
        <%- element.properties.isDataSourceAPI ? `data-source-type='${dataSourceType}'` : ""%>
        <%- element.properties.isDataSourceAPI ? `data-source='${element.properties.dataSource}'` : ""%>
        <%- element.properties.isCustomValidator ? `data-is-custom-validator` : "" %>

        <%- EJSHelper.include(EJSData.prop.textboxProp, {element,EJSHelper,EJSData}) %>        

    />  
    
    <%-  
    (element.properties.isClearable && !element.properties.isHidden)?
        EJSHelper.include(EJSData.layout.elementAppendCloseLayout, {element}):
        EJSHelper.include(EJSData.layout.elementAppendLayout, {element})
    %> 

    <%- element.properties.isHidden ? "": EJSHelper.include(EJSData.layout.elementInvalidFeedbackLayout, {element}) %>
</div>

<%- element.properties.isHidden ? "": EJSHelper.include(EJSData.layout.elementSubLabelLayout, {element}) %>
