
<%- EJSHelper.include(EJSData.layout.elementLabelLayout, {element,EJSHelper,EJSData}) -%>
<div class="input-group mb-3">
    <%-EJSHelper.include(EJSData.layout.elementPrependLayout, {element,EJSHelper,EJSData}) -%>
        <textarea 
        type="text" 
        class="<%- element.plaintext ?"form-control-plaintext": "form-control" %>" 
        style="min-height: 100px"
        rows = <%=element.properties.rows%>
        <%- element.properties.wordCount ?"wordCount": "" %>
        <%-EJSHelper.include(EJSData.prop.textboxProp, {element,EJSHelper,EJSData})%>
        ></textarea>
        
    <%-EJSHelper.include(EJSData.layout.elementAppendLayout, {element,EJSHelper,EJSData}) -%>
    <%-EJSHelper.include(EJSData.layout.elementInvalidFeedbackLayout, {element,EJSHelper,EJSData}) -%>
</div>
<%-EJSHelper.include(EJSData.layout.elementSubLabelLayout, {element,EJSHelper,EJSData}) -%>

