﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoInternetExplorer</title>
</head>
<body>
    <div>
        <h1>Internet Explorer is not allowed. Please use Edge or Chrome</h1>
    </div>
</body>
</html>

