﻿@using Microsoft.Identity.Web
@{
    ViewData["Title"] = "SignalRChat";
}

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="userInput" class="control-label col-lg-4">User</label>
            <div class="col-lg-8">
                <input type="text" id="userInput" class="form-control" value="@User.GetDisplayName()" />
            </div>
        </div>
        <div class="form-group">
            <label for="messageInput" class="control-label col-lg-4">Message</label>
            <div class="col-lg-8">
                <input type="text" id="messageInput" class="form-control" value="" />
            </div>
        </div>
        <button id="sendButton" class="btn btn-primary">Send Message</button>
    </div>
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalR.min.js"></script>
<script>
    $(this.container).empty();
    $('body').css('background-image', 'url()');
    var connection = new signalR.HubConnectionBuilder().withUrl('/exampleHub').build();

    $('#sendButton').attr('disabled', 'disabled');

    connection.on("ReceiveMessage", function (user, message) {
        const msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        const encodedMsg = user + " says: " + msg;
        $('#messagesList').append(`<li>${encodedMsg}</li>`);
    });
    connection.on("Connections", function (user) {
        $('#messagesList').append(`<li>${user} Connected</li>`);
    });
    connection.start().then(function () {
        connection.invoke('Connect').catch(function (err) {
            return console.error(err.toString());
        });
        $('#sendButton').removeAttr('disabled');
    }).catch(function (err) {
        return console.error(err.toString());
    });

    $('#sendButton').on('click', function () {
        const user = $('#userInput').val();
        const msg = $('#messageInput').val();
        connection.invoke('SendMessage', user, msg).catch(function (err) {
            return console.error(err.toString());
        });
    });


</script>