﻿body {
    display: -ms-flexbox;
    display: flex;
    color: #000;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
    background-image: url('../Images/offset_70281_lo.png');
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
