﻿#NotifyMe {
    margin-left: 10px;
}

html {
    overflow-y: scroll;
}

#MainBody {
    min-height: 500px;
}

.bg-dark2 {
    background-color: black;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #000;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
    /*box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5); */
    background-image: url(/Images/B6WRB0_lo.png);
    position: relative;
    background-position-x: 25%;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
        * Sidebar
        */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #000;
    color: rgba(255, 255, 255,.9);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #000;
}

@@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    margin-top: 35px;
    color: rgba(255, 255, 255,.9);
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: rgba(255, 255, 255,.55);
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: rgba(255, 255, 255,.55);
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
        * Content
        */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

[role="main-sm"] {
    padding-top: 2px; /* Space for fixed navbar */
}

.hidden {
    display: none;
}
