/*Dynamic Elements*/
.dynamicContainer{
    min-height: 500px;
}

.dynamicContainerTitle{
    margin: 10px 0px 30px 10px;
}

.titleText {
    color: darkgray;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.dynamicSections{
    margin-top: 30px;
}

.dynamicSectionRow{
    margin: 0;
    margin-bottom: 30px;
}

/* .dynamicSections > .card{
    margin: 10px;
} */

.dynamicSections > .card > .card-header{
    font-size: larger;
}

.dynamicSections > .card > [data-toggle="collapse"]{
    cursor: pointer;
}

.elementSubDisplay{
    margin-top: -15px;
    margin-left: 5px;
    font-size: small;
    color: gray;
}

label+div.elementSubDisplay{
    margin-top: -10px;
    margin-left: 0px;
    font-size: small;
    color: gray;
}

span.elementSubDisplay{
    font-size: small;
    color: gray;
}

span.elementSubDisplayInline{
    margin-top: -0.2rem;
    margin-left: 0px;
    display: inline-block;
    vertical-align: text-top;
    font-size: small;
    color: gray;
}

.custom-checkbox .elementSubDisplay{
    margin-top: -10px;
}


/*Sprint 1 Run-timeElement Duplication*/
.cloneContainer {
    position: relative;
    padding: 5px;
}

.cloneButton, .cloneButtonDelete{
    position: absolute;
    right: -10px;
    top: -10px;
}

.cloneConfirm{
    color: blue;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: -10px;
    background: white;
}
/*Sprint 1 Run-timeElement Duplication*/

.notyButtonYes{
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 5%;

}

.notyButtonNo{
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 5%;

}

input:disabled:not(.form-control-plaintext), select:disabled, [aria-disabled="true"]  {
    background-color: #e9ecef !important;
    border: 1px solid #ced4da !important;
    color: #212529 !important;
    cursor: default !important;
}

input.form-control-plaintext{
    cursor: default !important;
}

input.form-control-plaintext:focus{
    border: none !important;
    outline-offset: 0px !important;
    outline: none !important;
}

.p-3b-0{
    padding: 1rem 1rem 0rem 1rem !important
}
.bottomNavWrapper{
    padding: 1rem 0rem 0rem 0rem !important
}
/*Dynamic Elements*/

/* Icon Style */
i.fa, [data-prefix="fa"], [data-prefix="fas"],  [data-prefix="far"]{
    font-size: 1.5em;  
}

.rounded-circle > svg, .rounded-circle > i {
    font-size: 1.2em;  
}

.input-group-prepend svg, .input-group-append svg,
.input-group-prepend i, .input-group-append i {
    font-size: 1.1em;  
}
/* Icon Style */

#backToTop{
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    z-index: 2000;
}