
  .dynamicToolbarSwitch{
	 margin-top: -15px;
  }
  .dynamicToolbar{
	  margin: 0px;
  }
  
  .dynamicToolbarButtonGroup{
	  display: inline-block;
	  padding: 0px 15px 10px 15px;
  }
  .dynamicToolbarButton{
    margin: 0px 5px 0px 5px;
	display: inline-block
  }
  .dynamicToolbarLabel{
	text-align: center;
	font-size: 16px;
  }

  .dynamicGroupLabel{
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	color: grey;
  }
  .dynamicToolbarIcon {
	font-size: 40px;
	text-align: center;
  }

  .dynamicToolbarIcon i {
    font-size: 1.5em;
    }

  .dynamicToolbarIcon button {
    border: none !important;
    min-height: 38px;
	  min-width: 50px
  }
  .dynamicToolbarIcon .fa-file-pdf{
   font-size: 25px !important;
  }
  .toggle.dforms, .toggle-on.dforms, .toggle-off.dforms { border-radius: 7px !important; width: 130px!important;  }
  .toggle.dforms .toggle-handle { border-radius: 7px!important;  }

  .toggle.gen, .toggle-on.gen, .toggle-off.gen { border-radius: 7px !important;  }
  .toggle.gen .toggle-gen { border-radius: 7px!important;  }