﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

textarea {
    width: 100%;
}

.NonEditable {
    display: block;
    max-width: 280px;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
}

.avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.stagger-visualizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 17rem;
}

    .stagger-visualizer div {
        /*position: absolute;*/
        width: 1rem;
        height: 1rem;
        border: 1px solid #FFF;
        background-color: #FFF;
    }

.sidebar .nav-link {
    font-weight: 500;
    margin-top: 15px;
    color: rgba(255, 255, 255,.9);
}

@media (min-width: 1500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1460px;
    }
}

@media (min-width: 1800px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1760px;
    }
}


@media (min-width: 2000px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1960px;
    }
}