<%if(element.properties.invalidTooltip){%>
    <div class="invalid-tooltip">
        <%=element.properties.isEmail ? "Please provide a valid email address." : element.properties.invalidTooltip%>
    </div>
<%}%>
<%if(element.properties.invalidFeedback){%>
    <div class="invalid-feedback">
        <%=element.properties.invalidFeedback%>
    </div>
<%}%>