<%if (element.properties.isClearable) {%>
    <div class="input-group-append isClearable">
        <button class="btn btn-outline-secondary border" type="button" data-tag="clear" onclick="clearValueByID('<%=element.id%>')">
            <i class='fa fa-times'></i>
        </button>
    </div>
    <%}%>