<%if (element.properties.iconPrepend) { %>
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="<%=element.properties.iconPrepend%>"></i>
        </span>
    </div>
<%}%>