<%if(element.properties.subLabel || element.properties.wordCount) { %>
    <div class="elementSubDisplay">
        <% if (!element.properties.wordCount) {%> 
            <label for="<%=element.id %>">
                <%=element.properties.subLabel %>
            </label>
        <%}else{%> 
            <label for="<%=element.id%>" class = "col-sm-9">
                <%=element.properties.subLabel %>
            </label>
            <label for="<%=element.id%>" class = "col-sm-2">
                Count: 0
            </label>
        <%}%> 
    </div>
<%}%>
