<%if (element.properties.iconAppend) { %>
    <div class="input-group-append">
        <span class="input-group-text">
            <i class="<%=element.properties.iconAppend%>"></i>
        </span>
    </div>
<%}%>