<%if(element.properties.label) { %>
    <label for="<%=element.id %>">
        <b><%=element.properties.label %></b>
    </label>
<%} else if(element.properties.labelHtml) { %>
    <%- element.properties.labelHtml %>
<%}%>