<%var workflowAuditTrailData = workflowAuditTrailData? workflowAuditTrailData : null%>
<%var user = user? user : null%>

<nav class="navbar navbar-expand-lg navbar-light bg-3">
  <!-- <a class="navbar-brand" href="#"><img src="/images/logo.svg" /></a> -->
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%#if(workflowAuditTrailData) { %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <div class="nav" id="nav-tab" role="tablist">
            <a class="nav-item nav-link nav-link-dttl active" id="nav-form-tab" data-toggle="tab" href="#nav-form" role="tab"
              aria-controls="nav-form" aria-selected="true">FORM</a>
            <a class="nav-item nav-link nav-link-dttl" id="nav-auditlog-tab" data-toggle="tab" href="#nav-auditlog"
              role="tab" aria-controls="nav-auditlog" aria-selected="false">AUDIT LOG</a>
              <%#if(isMasterAdmin){%>
              <a class="nav-item nav-link nav-link-dttl" id="nav-to-iras-final-tab" data-toggle="tab" href="#nav-to-iras-final"
              role="tab" aria-controls="nav-to-iras-final" aria-selected="false">TO IRAS</a>
              <a class="nav-item nav-link nav-link-dttl" id="nav-from-iras-final-tab" data-toggle="tab" href="#nav-from-iras-final"
              role="tab" aria-controls="nav-from-iras-final" aria-selected="false">FROM IRAS</a>
              <%#}%>
          </div>
        </li>
      </ul>
    <%# } %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a id="home" class="nav-link nav-link-dttl" href="/Home">HOME <span class="sr-only">(current)</span></a>
      <li id="profile" class="nav-item dropdown">
          <a class="nav-link nav-link-dttl dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROFILE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Account">ACCOUNT</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">SIGN OUT</a>
          </div>
        </li>
      <li class="nav-item">
        <a id="aboutus" class="nav-link nav-link-dttl" href="#">ABOUT US</a>
      </li>
      
        <% if (user) { %>
          <span class="navbar-text">
            <%= user.displayName %>
          </span>
        <% } %>
    </ul>
  </div>
</nav>