<div class="dynamicToolbarIcon">
    <input id="<%=toolbarButton.id%>" type="checkbox" data-style="gen" class="toolbarButtonToggle"
    <%= toolbarButton.checked ? "checked" : ""%>
    <%= toolbarButton.onChange ? `onchange=${toolbarButton.onChange.replace("\"", "'")}` : ""%>
    data-toggle="toggle" data-onstyle="<%=toolbarButton.dataOnstyle%>"
    data-size="sm" 
    <%- toolbarButton.dataRefAttributeReference ? `data-ref-attribute-reference="${toolbarButton.dataRefAttributeReference}"` : '' %>
    <%- toolbarButton.dataRefIsVisibility? "data-refisvisibility" : '' %>
    >
</div>