<div class="dynamicToolbarIcon">
    <input type="hidden" class="validationList" value="<%=JSON.stringify(toolbarButton.validationList)%>"/>
    <button id="<%=toolbarButton.id%>" class="btn btn-outline-secondary toolbarButton" 
      <%= toolbarButton.onclick ? `onclick=${toolbarButton.onclick.replace("\"", "'")}` : ""%>
      <%#- include('../commonProperties/button', {element: toolbarButton}) -%>
      <%- EJSHelper.include(EJSData.prop.buttonProp, {element: toolbarButton, EJSHelper, EJSData}); %>
    >
      <i class="<%=toolbarButton.icon%>"></i>
    </button>
</div>