﻿<h2 id="newItem">Template Form</h2>
<div class="form-horizontal">
    <div class="col-lg-offset-2 required-note">
        <p>
            <em>
                Fields marked with
                <span class="text-danger"><strong>*</strong></span>
                are required fields.
            </em>
        </p>
    </div>
    ${_fields}
</div>