﻿<div class="form-group">
    <label for="${_id}" class="control-label col-lg-4">${_name} <span class="blue" data-feather="${_feather}"></span></label>
    <div class="col-lg-8">
        <select id="${_id}" class="form-control">
            ${_options}
        </select>
    </div>
</div>